#root{
  padding:0;
  margin:0;
  background-color: black;
}
*{
  background-color: black;
}
.line-navbar{
  border:1px solid #fff;
  width: 80rem;
}
.loading-spinner{
  display:flex;
  justify-content: center;
  align-items: center;
}